#login-form {
    display: flex;
    flex-direction: column; /* Asegúrate de que los elementos fluyan verticalmente */
    gap: 10px; /* Espacio entre elementos, si lo deseas */
    width: 100%; /* Asegúrate de que el formulario ocupe todo el ancho disponible */
    padding: 20px; /* Añade un poco de padding si es necesario */
}

#login-form button {
    flex-grow: 1; /* Permite que los botones crezcan para ocupar el espacio disponible */
    width: 100%; /* Asegúrate de que los botones ocupen todo el ancho disponible */
}

.Titulo{
    text-align: center;
    margin-bottom: 0;
    padding-top: 20px;
}

/* Estilos para el footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}

.footer-content p {
    text-align: center;
    font-size: 20px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    display: flex; 
    gap: 10px; 
    justify-content: center; 
}

.footer-content ul li {
    display: inline;
    margin: 0 10px;
}

.footer-content ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos de los iconos */
.fas.fa-table-tennis {
    font-size: 1.2em;
    color: white;
    margin-right: 5px; 
}

.fas.fa-user {
    font-size: 1.2em;
    color: white;
    margin-right: 5px; 
}

.negro {
    color:black;
    /* font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    display: inline-block; */
}

.justified-text {
    text-align: justify;
}

.card-img-custom {
    height: 300px; 
    object-fit: cover; 
}

